// BASE STYLES

*, :after, :before {
    box-sizing: border-box;
}

body {
font-family: Poppins,sans-serif;
font-size: 1rem;
letter-spacing: .4px;
margin: 0;
}

.page-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.header {
    display: flex;
    justify-content: center;
    height: 150px;
    width: 100%;
    background-color: teal;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    // width: 450px;
    align-self: center;
    width: 1200px;
}

.intro {
    text-align: center;
    font-size: 1.5em;
}

.input-selection {
    text-align: center;
}

.picture_selection {
    text-align: center;
}

.pictures, .images_selected, .image_container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.images, .images_selected, .gallery-item {
    margin: 10px;
    border-radius: 5%;
}

.selection-checker {
    width: 100%;
    text-align: center;
}

.email, .email_v, .email_f{
    margin: 10px;
    padding: 10px;
    border: 3px solid teal;
    font: inherit;
    color: teal;
    background-color: inherit;
    border-radius: 5px; 
}

.confirm, .submit, .random {
    margin: 10px;
    padding: 10px;
    border: 3px solid teal;
    font: inherit;
    color: teal;
    font-size: 1.125em;
    background-color: inherit;
    border-radius: 5px;
}

img {
    border: 3px solid teal;
    border-radius: 5px;
}

.randomise {
    font-size: 1.125em;
}

.submission {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.error {
    color: red;
}

.image_box, .final {
    border: 3px solid teal;
    text-align: center;
    margin: 10px;
}

.final {
    width: 35%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    height: fit-content;
}

.chosen {
    margin: 5px;
}

.email_f {
    width: 60%;
    text-align: center;
}

.final_image {
    margin: 10px;
}

ul {
      list-style-type: none;
      padding-inline-start: -40;
}

a {
    text-decoration: none;
} 

footer {
    margin-top: 50px;
    font-size: 24px;
    color: teal;
    text-align: center;
}